/************ Skills Css ************/
.skill {
    padding: 0 0 50px 0;
    position: relative;
}
.skill-bx { /************ the div container ************/
    width: 100%;
    background: #FFFFFF;
    border-radius: 64px;
    border: 1px solid #000;
    text-align: center;
    padding: 60px 50px;
    margin-top: -60px;
    color: #000000;
}
.skill h2 {
    font-size: 45px;
    font-weight: 700;
    color: #000000;
}
.skill p {
    color: #000000;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px 0 75px 0;
}
.skill-slider {
    width: 80%;
    color: #000000;
    margin: 0 auto;
    position: relative;
}
.skill-slider .item img {
    width: 60%;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
    color: #FFFFFF;

}


